/*----------------------------------------------------------------------------*\
    #UTILS TEXT
\*----------------------------------------------------------------------------*/

/**
 * Horizontal text alignment.
 */

.u-text-center { text-align: center; }

.u-text-left { text-align: left; }

.u-text-right { text-align: right; }


/**
 * Text contain
 *
 * Prevent text (line lenght) from getting longer than
 * the ideal reading lengt of 65-75 characters.
 */

.u-text-max-width {
    max-width: $text-max-width;
    margin-right: auto; // Center maximized text 'column'.
    margin-left: auto;
}


/**
 * Inline elements.
 */

.u-text-bold { font-weight: 700; }

.u-text-italic { font-style: italic; }

.u-text-small { @include responsive-text-size('nano'); }

.u-text-time { text-transform: uppercase; }
