/*----------------------------------------------------------------------------*\
    #UTILS SPACING (Vertical (rhythm) spacing)
\*----------------------------------------------------------------------------*/

/**
 * Trailer spacing (bottom margin).
 */

.u-space-trailer-xs { margin-bottom: rhythm(.25); }

.u-space-trailer-s { margin-bottom: rhythm(.5); }

.u-space-trailer-m { margin-bottom: rhythm(1); }

.u-space-trailer-l { margin-bottom: rhythm(2); }

.u-space-trailer-xl { margin-bottom: rhythm(4); }


/**
 * Leader spacing = top margin.
 */

.u-space-leader-xs { margin-top: rhythm(.25); }

.u-space-leader-s { margin-top: rhythm(.5); }

.u-space-leader-m { margin-top: rhythm(1); }

.u-space-leader-l { margin-top: rhythm(2); }

.u-space-leader-xl { margin-top: rhythm(4); }


/**
 * Rhythm spacing = top + bottom margins.
 */

.u-space-rhythm-s {
    margin-top: rhythm(.5);
    margin-bottom: rhythm(.5);
}

.u-space-rhythm-m {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
}

.u-space-rhythm-l {
    margin-top: rhythm(2);
    margin-bottom: rhythm(2);
}

.u-space-rhythm-xl {
    margin-top: rhythm(4);
    margin-bottom: rhythm(4);
}
