/*----------------------------------------------------------------------------*\
    #UTILS LAYOUT
\*----------------------------------------------------------------------------*/

/**
 * Floats.
 */

.u-pull-left { float: left; }

.u-pull-right { float: right; }

.u-is-visually-hidden { @include u-is-hidden(visually); }

.u-pullviewport {
    @include u-pullviewport(11%);

    @include breakpoint(medium) {
        @include u-pullviewport(5.5%);        
    }
}

.u-pullviewport-right {
    margin-left: 22%;

    @include breakpoint(medium) {
        margin-left: 12.5%;
    }	
}

.u-pullviewport-right-desktop {

    @include breakpoint(medium) {
        margin-left: 12.5%;
    }   
}

.u-pullviewport-left {
    margin-left: -22%;

    @include breakpoint(medium) {
        margin-left: -12.5%;
    }	
}

.u-pullviewport-left-desktop {

    @include breakpoint(medium) {
        margin-left: -12.5%;
    }   
}

.js-block { cursor: pointer; }