/*----------------------------------------------------------------------------*\
    #SETTINGS TYPOGRAPHY
\*----------------------------------------------------------------------------*/

/**
 * Font stacks.
 */

$sans-font:                     'avenir-light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, ArialMT, sans-serif;
$sans-font-medium:              'avenir-medium', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, ArialMT, sans-serif;
$serif-font:                    'Lucida Bright', 'LucidaBright', Georgia, serif;
$mono-font:                     Monaco, 'Courier New', 'CourierNewPSMT', Courier, monospace, serif;
$heading-font:                  'benton-sans', 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Arial Narrow Bold', 'ArialNarrow-Bold', 'Arial Narrow', 'ArialNarrow', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$heading-font-light:            'benton-sans-light', 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Arial Narrow Bold', 'ArialNarrow-Bold', 'Arial Narrow', 'ArialNarrow', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;


/**
 * Text max-width.
 */

$text-max-width:                30rem;


/**
 * Text sizing.
 *
 * If no line-height at all is explicitly set, a vertical rhythm line-height is
 * calculated and maintained automatically! But if a line-height is explicitly
 * set (out out-commented), vertical rhythm will break for that speceific
 * breakpoint!
 *
 * IMPORTANT!
 * base:                                // <= base text size name
 *      small:                          // <= default breakpoint (mobile first!)
 *           font-size:          1rem,  // <= base font size (never change!)
 *           line-height:        1.375  // <= base line height (never out-comment!)
 *                                      // <= no need to (pointless) add more base breakpoints!
 */

$text-sizing: (
    pico: (
        small: (
            font-size:              0.6470588235rem,
            // line-height:         1
        )
    ),
    nano: (
        small: (
            font-size:          .7647058824rem,
            line-height:        1.25
        )
    ),
    base: (
        small: (
            font-size:          1rem,
            line-height:        1.6666666667
        ),
    ),
    zeta: (
        small: (
            font-size:          1rem,
            // line-height:      1.4
        )
    ),
    epsilon: (
        small: (
            font-size:          1rem,
            // line-height:      1.4
        )
    ),
    delta: (
        small: (
            font-size:          1.125rem,
            line-height:        1.7
        )
    ),
    gamma: (
        small: (
            font-size:             1.0588235294rem,
            line-height:           1.136
        )
    ),
    beta: (
        small: (
            font-size:             2.0588235294rem,
            line-height:           1.154
        )
    ),
    alpha: (
        small: (
            font-size:          2.0588235294rem,
            line-height:        1.4
        )
    ),
    mega: (
        small: (
            font-size:          1.6470588235rem,
            line-height:        1.5 
        )
    ),
    // giga: (),
    // tera: (),
);
