/*----------------------------------------------------------------------------*\
    #SETTINGS COLORS
\*----------------------------------------------------------------------------*/

/**
 * Base colors.
 */

$color-black:                   rgb(0, 0, 0);
$color-white:                   rgb(255, 255, 255);


/**
 * Grays.
 */

$color-gray-dark:               rgb(74, 74, 74);
$color-gray:                    rgb(147, 147, 147);
$color-gray-light:              rgb(247, 247, 247);


/**
 * Project colors.
 */

$color-primary:                 rgb(40, 180, 162);
