/*----------------------------------------------------------------------------*\
    #LAYOUT CONTENT
\*----------------------------------------------------------------------------*/

.o-section {
    @include u-clearfix();
    @include u-rhythm-padding(2.5);

    background-color: $color-white;

    @include breakpoint(medium) {
        @include u-rhythm-padding(3.5);        
    }

    h2,
    h3,
    p { 
        margin-right: auto; 
        margin-left: auto; 
    }

    h2 { 
        margin-bottom: rhythm(2);
        text-align: center;
        text-transform: uppercase;

        @include breakpoint(medium) {
            margin-bottom: rhythm(3.25);
        }

        &:after {
            @include u-size(50px, 2px);

            display: block;
            margin: rhythm(.5) auto 0;
            background-color: $color-primary;
            content: '';
        }
    }

    h3,
    h4 {
        display: block;
        margin-bottom: rhythm(.5);      
        padding-bottom: rhythm(.5);
        color: $color-gray;
        font-family: $sans-font-medium;
    }

    h3 { border-bottom: 1px solid rgba($color-primary, .6); }

    p { 
        max-width: $text-max-width;
        margin-bottom: rhythm(1.25);        

        &:last-child { margin-bottom: 0; }
    }

    a { text-align: center; }

    .c-btn { margin-top: rhythm(1.5); }

    .c-btn--cta { 
        margin-top: rhythm(1);

        @include breakpoint(large) {
            margin-top: 0;
        }
    }

    .c-section__intro { 
        @include responsive-text-size('delta');

        margin-bottom: rhythm(2);
    }

    hr {
        display: block;
        width: 100%;
        margin-top: rhythm(1.75);        
        float: left;
    }

    img {
        margin-top: rhythm(1.5);

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }
}

.o-section--primary,
.o-section--secondary { 
    color: $color-white; 

    h2:after { background-color: $color-white; }
}

.o-section--primary { background-color: $color-primary; }

.o-section--secondary { background-color: $color-gray-dark; }

.o-section--no-padding-top {
    padding-top: 0;

    @include breakpoint(medium) {
        padding-top: 0;
    }
}

.o-section--footer { 
    @include u-rhythm-padding(2.5, 1);

    @include breakpoint(medium) {
        @include u-rhythm-padding(3.5, 1);
    }

    @include breakpoint(large) {
        @include u-rhythm-padding(3.5, 1.5);
    }
}

.o-section--cards { 
    @include u-rhythm-padding(2.5);

    @include breakpoint(medium) {
        @include u-rhythm-padding(3.5);
    }

    h2 { 
        margin: 0 auto rhythm(3.25);
        text-align: center;
        text-transform: uppercase;

        &:after {
            @include u-size(50px, 2px);

            display: block;
            margin: rhythm(.5) auto 0;
            background-color: $color-primary;
            content: '';
        }
    }   
}

.o-section--bottom {
    border-top: 2px solid rgba($color-primary, .6);

    h1 {
        @include responsive-text-size('mega');
    }
}

.o-section__content {
    position: relative;
    padding-top: rhythm(1.5);
    border-top: 1px solid rgba($color-primary, .6); 

    p { max-width: 100%; }
}

.o-section__buttons {
    max-width: $text-max-width;    
    margin-right: auto;
    margin-left: auto;
}

.c-video {
    display: block;    
    position: relative;

    &:after {
        @include u-square(60px);
        @include u-trbl(50%, null, null, 50%);
        @include u-z-index('base');

        display: block;
        position: absolute;
        margin-top: -30px;
        margin-left: -30px;
        background-color: $color-white;
        content: '';
    }
}
