/*----------------------------------------------------------------------------*\
    #LAYOUT PANORAMA
\*----------------------------------------------------------------------------*/

.o-panorama {
	position: relative;
	border-bottom: 10px solid $color-primary;
}

.o-panorama__content {
	@include u-rhythm-padding(6, 3.5);

	position: relative;
	max-width: 750px;
	margin: 0 auto;
	color: $color-white;

	@include breakpoint(wide) {
		max-width: 850px;
	}

	h1 {
		@include responsive-text-size('alpha');

		margin-bottom: rhythm(1.5);
	}
}

.o-panorama__image {
	@include u-square(100%);

	position: absolute;
}