/*----------------------------------------------------------------------------*\
    #LAYOUT PANORAMA
\*----------------------------------------------------------------------------*/

.o-panorama {
	position: relative;
}

.o-panorama__content {
	@include u-trbl(50%, null, null, 50%);
	
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $color-white;
}