/*----------------------------------------------------------------------------*\
    #LAYOUT BANNER (aka page header)
\*----------------------------------------------------------------------------*/

.c-banner {
	@include u-rhythm-padding(1);
    @include u-contain-padding();
    @include u-z-index('banner');

	display: none;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgba($color-white,.7);
    background-color: rgba($color-white, .5);
}
