/*----------------------------------------------------------------------------*\
    #MODULES NAVIGATION
\*----------------------------------------------------------------------------*/

/**
 * Simple navigation.
 * When used on an `ol` or `ul`, it throws the list into horizontal mode.
 *
 * Example HTML:
 * <nav role="navigation">
 *   <ul class="o-nav">
 *     <li class="o-nav__item"><a href="">link item 1</a></li>
 *     <li class="o-nav__item"><a href="">link item 2</a></li>
 *   </ul>
 * </nav>
 */

.o-nav {
    list-style: none;

    > li {
        &,
        > a {
            display: inline-block;
        }
    }
}

/**
 * Simple stacked (vertical) navigation.
 *
 * Example HTML:
 * <nav role="navigation">
 *   <ul class="o-nav o-nav--stacked">
 *     <li class="o-nav__item"><a href="">link item 1</a></li>
 *     <li class="o-nav__item"><a href="">link item 2</a></li>
 *     <li class="o-nav__item"><a href="">link item 3</a></li>
 *   </ul>
 * </nav>
 */

.o-nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

// .o-nav__item {}

// .o-nav__link {}





/**
 * Responsive horizontal/stacked (main) navigation.
 *
 * Example HTML:
 * <div class="c-nav-main"
 *   <nav role="navigation" class="c-nav-main__list">
 *     <ul>
 *       <li class="c-nav-main__item"><a href="">link item 1</a></li>
 *       <li class="c-nav-main__item"><a href="">link item 2</a></li>
 *     </ul>
 *   </nav>
 * </div>
 */

/**
 * Nav main (wrapper).
 */

