/*----------------------------------------------------------------------------*\
    #MODULES RULER
\*----------------------------------------------------------------------------*/

/**
 * Extends 'hr'.
 * Demo: jsfiddle.net/inuitcss/L6GuZ
 */

%c-ruler {
    border: 0;
    height: 1px;
    background-color: rgba($color-primary, .6);
}


/**
 * Dotted rules.
 */

%c-ruler--dotted { border-top-style: dotted; }


/**
 * Dashed rules.
 */

%c-ruler--dashed { border-top-style: dashed; }


/**
 * Activate horizontal ruler via @extend.
 */

hr { @extend %c-ruler; }
