/*----------------------------------------------------------------------------*\
    #MODULES NAVIGATION
\*----------------------------------------------------------------------------*/

.c-nav-main {
    @include u-rhythm-padding(.75);

    float: right;
    
    ul {
        display: block;
        text-align: center;

        @include breakpoint(large) {
            display: inline-block;
        }


        li {
            display: block;

            @include breakpoint(large) {
                display: inline-block;
                width: auto;
            }

            a {
                display: block;
                margin-top: 2px;
                padding: rhythm(.2) rhythm(.75);
                transition: color .32s ease-in-out;

                &:hover { color: $color-gray-dark; }
            }
        }
    }
}

.c-nav-main__list {
    @include u-rhythm-padding(1.5);

    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    box-shadow: inset 0px -2px 0px 0px rgba($color-white, .4);

    @include breakpoint(large) {
        @include u-rhythm-padding(0);

        display: block;
        position: relative;
        top: auto;
        left: auto;
        background-color: transparent;
        box-shadow: none;
    }

}

.is-visible { display: block; }

.c-nav-main__item--active { color: $color-white; }

.c-nav-main-toggle {
    @include u-square(54px);

    display: block;
    position: relative;
    border: 0;
    outline: 0;
    background-color: transparent;

    @include breakpoint(large) {
        display: none;
    }

    span,
    span:before,
    span:after {
        @include u-size(24px, 2px);

        display: block;
        position: absolute;
        transition: all .24s ease-in;
        background-color: $color-white;        
    }

    span {
        @include u-size(24px, 2px);

        right: 50%;
        margin-right: -12px;

        &:before,
        &:after {
            background-color: $color-white;
            content: '';            
        }

        &:before { @include u-trbl(-6px, 0, null, null); }

        &:after { @include u-trbl(null, 0, -6px, 0); }
    } 
}

.is-open.c-nav-main-toggle {

    span { transform: rotate(-45deg); }

    span:before { opacity: 0; }

    span:after {
        top: 0;
        transform: rotate(90deg);
    }
}