/*----------------------------------------------------------------------------*\
    #MODULES RULER
\*----------------------------------------------------------------------------*/

%c-ruler {
    height: 1px;
    border: 0;    
    background-color: rgba($color-primary, .6);
}

/**
 * Activate horizontal ruler via @extend.
 */

hr { @extend %c-ruler; }
