/*----------------------------------------------------------------------------*\
    #MODULES QUOTES
\*----------------------------------------------------------------------------*/

/**
 * Quote (run-in quote).
 */

.o-quote {
    @include u-rhythm-padding(3.5);    
    @include responsive-text-size('mega');    

    display: block;
    max-width: 750px;
    margin: 0 auto;
    color: $color-primary;
    text-align: center;

    @include breakpoint(wide) {
        max-width: 850px;
    }

}


/**
 * Blockquote
 *
 * A block quotation (also known as a long quotation or extract) is a quotation
 * in a written document, that is set off from the main text as a paragraph, or
 * block of text, and typically distinguished visually using indentation and a
 * different typeface or smaller size quotation. (This is in contrast to a
 * setting it off with quotation marks in a run-in quote.)
 * Block quotations are used for the long quotation. The Chicago Manual of Style
 * recommends using a block quotation when extracted text is 100 words or more,
 * or at least eight lines.
 */

.c-blockquote {
    text-align: center;

    p {
        // @extend .o-quote;
        display: inline;
        margin: 0;
        color: $color-gray-dark;
        font-family: $sans-font;
        font-weight: 600;
        text-transform: uppercase;

        &:before,
        &:after { -webkit-font-smoothing: antialiased; }
    }
}


/**
 * Pull quote
 *
 * Also known as a lift-out quote -- is a quotation
 * or excerpt from an article that is typically placed in a larger or distinctive
 * typeface on the same page (http://en.wikipedia.org/wiki/Pull_quote).
 *
 * Example HTML:
 * <aside class="o-pullquote">
 *   <blockquote>It is the unofficial force—the Baker Street irregulars.</blockquote>
 * </aside>
 */

.o-pullquote {
    @include u-rhythm-padding(3.5);
    @include responsive-text-size('mega');    

    padding: rhythm(3.5) $contain-percentage*2;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;

    @include breakpoint(medium) {
        padding: rhythm(3.5) $contain-percentage;
    }

    p {
        max-width: 750px;
        margin: 0 auto;
        
        @include breakpoint(wide) {
            max-width: 850px;
        }
    }
}
