/*----------------------------------------------------------------------------*\
    #MODULES ANIMATIONS
\*----------------------------------------------------------------------------*/

.no-touch {
    .c-btn:hover {
        border: 2px solid rgba($color-white, 0);
        background-color: rgba($color-white, .4);
    }

    .c-btn--primary:hover { 
        background: shade($color-primary, 10%);
        color: $color-white;
    }
    
    .c-card:hover .c-card__image {
        background-color: $color-primary;
        
        img { opacity: .1; }

        &:after {
            bottom: 50%;
            margin-bottom: -14px;
            opacity: 1;            
        }       
    }

    .c-card--inactive:hover .c-card__image img {opacity: 1;}

    .c-content-info ul li a:hover {
        border: 2px solid rgba($color-white, 0);        
        background-color: rgba($color-white, .7);
    }
}

.c-content-info ul li  a,
.c-btn { transition: all .24s ease-in-out; }
