/*----------------------------------------------------------------------------*\
    #MODULES MASTHEAD (aka logo)
\*----------------------------------------------------------------------------*/

.c-masthead {
    display: block;
    width: 144px;
    height: 48px;
    float: left;
}
