/*----------------------------------------------------------------------------*\
    #MODULES ICONS (not via fonts, but with images)
\*----------------------------------------------------------------------------*/

.c-icon {
    display: inline-block;
    width: rhythm(1);
    height: rhythm(1);
    margin-right: rhythm(.25);
    background-repeat: no-repeat;
    background-position: 0 16%;
    vertical-align: middle;
}

.c-icon--right {
    margin-right: 0;
    margin-left: rhythm(.25);
}

.c-icon--pos-right {
    position: absolute;
    right: 0;
}
