/*----------------------------------------------------------------------------*\
    #MODULES CARDS
\*----------------------------------------------------------------------------*/

.c-card { 
    margin-bottom: rhythm(1.25);

    @include breakpoint(large) {
        margin-bottom: rhythm(2);
    }

    @include breakpoint(wide) {
        margin-bottom: rhythm(2.5);
    }
}

.c-card__image {
    position: relative;    
    background-color: transparent;
    transition: background .24s ease-in-out;
    overflow: hidden;

    &:after {
        @include u-z-index('base');
        @include u-size(60px, 28px);

        display: block;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -30px;
        transition: all .32s ease-in-out;
        background-image: img-url('assets.svg');
        background-position: -192px 0;
        content: '';
        opacity: 0;        
    }

    img { 
        transition: opacity .32s ease-in-out;
        vertical-align: top;        
        -webkit-backface-visibility: hidden;
    }
}

.c-card__content {
    padding: rhythm(.75) rhythm(1) rhythm(.5);
    background-color: $color-gray-dark;
    text-align: center;
    color: $color-white;

    h3 {
        border-bottom: 0;
        color: $color-white;
    }

    span {
        @include responsive-text-size('nano');

        font-style: oblique;
    }
}

.c-card--4 {
    @include breakpoint(large) {
        margin-bottom: 0;
    }
}

.c-card--5 {
    @include breakpoint(compact) {
        margin-bottom: 0;
    }
}

.c-card--6 { margin-bottom: 0; }

.c-card--inactive { 
    .c-card__content { opacity: .5; }

    .c-card__image:hover img { opacity: 1; }

    .c-card__image:after { display: none; }
}
