/*----------------------------------------------------------------------------*\
    #MODULES NAVIGATION
\*----------------------------------------------------------------------------*/

/**
 * Simple navigation.
 * When used on an `ol` or `ul`, it throws the list into horizontal mode.
 *
 * Example HTML:
 * <nav role="navigation">
 *   <ul class="o-nav">
 *     <li class="o-nav__item"><a href="">link item 1</a></li>
 *     <li class="o-nav__item"><a href="">link item 2</a></li>
 *   </ul>
 * </nav>
 */

.o-nav {
    list-style: none;

    > li {
        &,
        > a {
            display: inline-block;
        }
    }
}

/**
 * Simple stacked (vertical) navigation.
 *
 * Example HTML:
 * <nav role="navigation">
 *   <ul class="o-nav o-nav--stacked">
 *     <li class="o-nav__item"><a href="">link item 1</a></li>
 *     <li class="o-nav__item"><a href="">link item 2</a></li>
 *     <li class="o-nav__item"><a href="">link item 3</a></li>
 *   </ul>
 * </nav>
 */

.o-nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

// .o-nav__item {}

// .o-nav__link {}





/**
 * Responsive horizontal/stacked (main) navigation.
 *
 * Example HTML:
 * <div class="c-nav-main"
 *   <nav role="navigation" class="c-nav-main__list">
 *     <ul>
 *       <li class="c-nav-main__item"><a href="">link item 1</a></li>
 *       <li class="c-nav-main__item"><a href="">link item 2</a></li>
 *     </ul>
 *   </nav>
 * </div>
 */

/**
 * Nav main (wrapper).
 */

.c-nav-main {
    position: relative;
    width: 100%;    
    margin-top: rhythm(1.5);
    background-color: rgba($color-black, .96);

    .ctm & {
        @include u-z-index(hidden);

        position: fixed;
        top: 0;
        height: 100%;
        margin-top: 0;
        transform: scale(1.32);
        opacity: 0;
    }

    .ctm.is-open-nav-main & {
        @include u-z-index(base);

        transform: scale(1);
        transition: opacity .32s, transform .32s;
        opacity: 100;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; /* Adds momentum scrolling on iOS! */
    }

    .ctm.is-closing-nav-main & {
        transform: scale(1.32);        
        transition: opacity .32s, transform .32s;
        opacity: 0;
    }
}


/**
 * Main nav (list).
 */

.c-nav-main__list {
    padding: rhythm(1.5) $contain-percentage;

    .ctm & {
        max-width: 100%;
        min-height: 100%;        
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
    }

    // .is-open-nav-main & {}
}

/* Stacked (vertical) nav */

.c-nav-main__item {
    display: list-item;
    border-bottom: .1em solid $color-gray-dark;

    &:last-child {
        border: 0;
    }

    > a {
        display: block;
        padding-top: rhythm(.5);
        padding-bottom: rhythm(.5);
        color: $color-white;

        &:hover {
            color: $color-gray-light;
        }
    }

    // @include breakpoint(medium) {
    //  margin-bottom: 0;
    //  border-bottom: 0;

    //  &,
    //  > a { /* Horizontal nav */
    //      display: inline-block;
    //      padding-right: rhythm(1);
    //      padding-left: rhythm(1);
    //  }
    // }
}


/**
 * Prevent double scrollbars when `.nav-main` is open.
 */

html.is-open-nav-main {
    overflow: hidden;
}


/**
 * Main nav toggle.
 */

.c-nav-main-toggle {
    @include u-is-hidden-text(skm);
    @include u-z-index(base);

    display: block;
    position: absolute;
    top: rhythm(1);
    right: $contain-percentage;
    width: 44pt; /* Touch target sizes: http://j.mp/XJm4uJ */
    height: 44pt; /* Use padding, or width/height to position icon, so it works nicely on touchdevices. */
    background-position: 50% 50%;

    @include breakpoint(medium) {
        right: rhythm(2);
    }
}

.c-nav-main-toggle--open {
    // @extend %grunt-icon-menu;

    // .ctm & {}
}

.c-nav-main-toggle--close {
    // @extend %grunt-icon-close;

    display: none;

    .ctm & {
        display: block;
    }
}
