/*----------------------------------------------------------------------------*\
    #MODULES LISTS
\*----------------------------------------------------------------------------*/

/**
 * Basic list.
 */

.o-list {
    margin-left: rhythm(1); /* roughly equal to offset the outdent of a two-figure number (1 of 2). */
    counter-reset: list;

    @include breakpoint(medium) {
        margin-left: 0; /* reset left margin from medium and up. */
    }

    li {
        display: list-item;
        position: relative;
        padding-left: rhythm(1);

        &:before {
            position: absolute;
            left: 0;
            color: $color-primary;
            content: '•';
        }

        > ul,
        > ol { margin-left: rhythm(1); }
    }
}

ol.o-list {
    > li {
        list-style-type: decimal; /* e.g. decimal, decimal-leading-zero, lower-roman, upper-roman, lower-greek, lower-latin, upper-latin, lower-alpha, upper-alpha, hebrew, etc. */

        &:before {
            // list-style-type: decimal; /* e.g. decimal, decimal-leading-zero, lower-roman, upper-roman, lower-greek, lower-latin, upper-latin, lower-alpha, upper-alpha, hebrew, etc. */
            counter-increment: list; /* Increment the section counter*/
            content: counter(list) '.'; /* Display the counter */
        }
    }
}


/**
 * Plain list (no bullets, etc.).
 */

.o-list--plain {
    margin-left: 0;

    > li {
        list-style: none;
    }
}


/**
 * Link list.
 */

.o-list--links {
    margin-top: -.2em; /* (negative) top margin must be same as top padding on anchor! */
    margin-left: 0;

    li {
        margin-right: 0;
        padding: .2em 0; /* top padding must be same as top margin on complete list! */
        padding-right: 0;
        padding-left: 0;
        list-style: none;
    }

    a {
        @extend .o-link;
    }
}


/**
 * No visited link color (browser history).
 */

.o-list--with-no-history {
    a {
        @extend .o-link--with-no-history;
    }
}


/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */

.o-list--numbered {
    &,
    &.o-list--links {
        > li {
            list-style-type: decimal;
        }
    }

    &.o-list--plain,
    &.o-list--links {
        margin-left: rhythm(1); /* roughly equal to offset the outdent of a two-figure number (1 of 2). */

        @include breakpoint(medium) {
            margin-left: 0; /* reset left margin from medium and up. */
        }
    }
}
