/*----------------------------------------------------------------------------*\
    #MODULES MEDIA OBJECT
\*----------------------------------------------------------------------------*/

/**
 * Usage:
 * Place any image- and text-like content side-by-side, as per: http://j.mp/1iqV00F
 *
 * Example HTML:
 * <div class="o-media">
 *   <img src="http://placekitten.com/200/300" alt="" class="o-media-image">
 *   <p class=o-media-body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
 *   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 * </div>
 */

.o-media {
    @include u-clearfix();

    display: block;
}

.o-media-image {
    margin-right: rhythm(1);
    float: left;
}

/* Reversed image location (right instead of left). */

.o-media-image--rev {
    margin-left: rhythm(1);
    float: right;
}

/* For when img element is wrapped in acnhor link */

.o-media-image img,
.o-media-image--rev img { display: block; }

.o-media-body { overflow: hidden; }

.o-media-body,
.o-media-body > :last-child { margin-bottom: 0; }
