/*----------------------------------------------------------------------------*\
    #MIXINS PULL VIEWPORT
\*----------------------------------------------------------------------------*/

@mixin u-pullviewport($percentage, $param: false) {
    @if $param == right {
        margin-right: - pull-viewport($percentage);
    } @else if $param == left {
        margin-left: - pull-viewport($percentage);
    } @else {
        margin-right: - pull-viewport($percentage);
        margin-left: - pull-viewport($percentage);
    }
}
